* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #e8f5e9;
    line-height: 1.6;
}

header {
    background-color: #2e7d32;
    color: white;
    text-align:center;
    padding: 30px 15px;
}

/*メインレイアウト*/
main {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
}

/*プロフィールカード*/
.profile-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;

    /*写真と情報を横並びに*/
    display: flex;
    gap: 30px;
    align-items: center;
}

/*写真エリアのスタイル*/
.profile-image-area {
    flex: 1;
    text-align: center;
}

.profile-thumb {
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
    border: 4px solid #4caf50;
}

.profile-info-area {
    flex: 2;
}

.profile-card h2 {
    color:#2e7d32;
    border-bottom: 2px solid #2e7d32;
    padding-bottom: 10px;
    margin-bottom: 25px;
}



/*プロフィールリスト*/
.profile-list {
    list-style: none;
    margin-bottom: 15px;
}

.profile-list li {
    margin-bottom: 10px;
    font-size: 17px;
}

.button {
    display: inline-block;
    border-style:solid;
    color: black;
    background-color: #e8f5e9;
    border-width: 2px;
    border-color: #2e7d32;
    text-decoration: none;
    margin: 0 10px 10px 10px;
    padding: 3px 8px;
    border-radius: 5px;
}

/*動的アクションエリア*/
.interactive-area {
    background-color: #e8f5e9;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

#greeting-text {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

/*ボタンのデザイン*/
#change-btn {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* トレーニングメニューアプリ */
.apri-button {
    display: inline-block;
    border-style:solid;
    color: black;
    background-color: #e4e3e3;
    border-width: 2px;
    border-color: #0b0b0b;
    text-decoration: none;
    margin: 0 10px 10px 10px;
    padding: 3px 8px;
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 700px;
}

/* Homeに戻るボタンの配置エリア */
.home-button-area {
    text-align: center;  /* ボタンを中央に配置 */
    margin-top: 15px;    /* 筋トレカードとの間の隙間 */
    width: 100%;
}

/* Homeに戻るボタン自体のデザイン */
.home-button {
    display: inline-block;
    background-color: #2e7d32; /* ヘッダーと同じ深緑 */
    color: white;              /* 文字色は白 */
    padding: 10px 30px;      /* ボタンの内側の余白 */
    border-radius: 10px;       /* 角を丸くして可愛いデザインに */
    text-decoration: none;     /* 下線を消す */
    font-weight: bold;
    font-size: 15px;
}

/*困難ポイント*/
.learning {
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 1000px;
    width: 100%;
}

.learning-area {
    /*写真と情報を横並びに*/
    display: flex;
    gap: 20px;
    align-items: center;
}

/*写真エリアのスタイル*/
.learning-point-area {
    flex: 1;
    text-align: center;
}

.learning-web-thumb {
    width: 60%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
}

.learning-thumb {
    width: 90%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.kabe {
    margin-bottom: 10px;
}

.learning-comment h3 {
    color:#2e7d32;
    border-bottom: 2px solid #2e7d32;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.learning-comment p {
        font-weight: bold;
}

.learning-comment li {
        line-height: 2.0;
}

/* Homeに戻るボタンの配置エリア */
.learning-point {
    text-align: center;  /* ボタンを中央に配置 */
    margin-top: 15px;    /* 筋トレカードとの間の隙間 */
    width: 100%;
}

.learn-button {
    display: inline-block;
    background-color: #e6ad03; /* ヘッダーと同じ深緑 */
    color: white;              /* 文字色は白 */
    padding: 10px 30px;      /* ボタンの内側の余白 */
    border-radius: 10px;       /* 角を丸くして可愛いデザインに */
    text-decoration: none;     /* 下線を消す */
    font-weight: bold;
    font-size: 15px;
}

.learn {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1000px;
}